{% extends "base_auth.html" %}
{% block content %}

<div class="card-body mx-3">
    <p class="card-text my-4" style="font-size: 24px;">Password Reset</p>
    <p class="card-text mb-5">Enter your email address and we'll send you a link to reset your password.</p>
    <form method="post" action="{% url 'common:password_reset' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-4">
            <label for="email" class="mb-1">Email Address</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ email }}">
        </div>
        <button type="submit" class="btn btn-primary btn-dark w-100 my-3">
            <div class="d-inline-block my-1">Send Password Reset Link</div>
        </button>
    </form>
</div>
{% endblock %}