{% extends "base_auth.html" %}

{% block content %}
<div class="card-body mx-3">
    <p class="card-text my-4" style="font-size: 24px;">Choose a New Password</p>
    <form method="post" action="{% url 'common:password_reset_confirm' uidb64=uidb64 token=token %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="mb-4">
            <label for="new_password1" class="mb-1">New Password</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1">
        </div>
        <div class="mb-4">
            <label for="new_password2" class="mb-1">Confirm New Password</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2">
        </div>
        <button type="submit" class="btn btn-primary btn-dark w-100 my-3">
            <div class="d-inline-block my-1">Change Password</div>
        </button>
    </form>
</div>
{% endblock %}
