{% extends 'base.html' %}
{% load static %}
{% load monitoring_filter %}
{% block content %}
{% url 'monitoring:script-list' as main_api %}
<script>
    var mainApi = "{{ main_api }}";
</script>
<div class="container">
    <h3 class="border-bottom border-secondary">Script</h3>
</div>
<div class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-dark"
            {% if not create_perm %} disabled {% endif %} 
            data-bs-toggle="modal" data-bs-target="#createModal" id="createNewButton">
            Create
        </button>
        <button id="deleteButton" class="btn btn-dark ms-2">
            Delete
        </button>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="createModalLabel">Create Script</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{{ main_api }}" id="formInModal">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row mb-3 mx-2">
                            <div class="col-3">
                                <label for="id_name" class="form-label">Name</label>
                            </div>
                            <div class="col-9">
                                <input type="text" name="name" maxlength="31" class="form-control" required id="id_name">
                                <div class="text-danger invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3 mx-2">
                            <div class="col-3">
                                <label for="id_language" class="form-label">Language</label>
                            </div>
                            <div class="col-9">
                                <select name="language" class="form-control" id="id_language">
                                    <option value="shell" selected>Shell</option>
                                    <option value="python2">Python2</option>
                                    <option value="python3">Python3</option>
                                </select>
                                <div class="text-danger invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3 mx-2">
                            <div class="col-3">
                                <label for="id_code" class="form-label">Code</label>
                            </div>
                            <div class="col-9">
                                <textarea name="code" cols="40" rows="4" class="form-control" id="id_code"></textarea>
                                <div class="text-danger invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3 mx-2">
                            <div class="col-3">
                                <label for="id_parameters" class="form-label">Parameters</label>
                            </div>
                            <div class="col-9">
                                <div class="input-group mb-1">
                                    <input type="text" name="tmp-parameters[]" class="form-control col-10">
                                    <button class="btn btn-outline-secondary col-2 param-button-addon" type="button">+</button>
                                </div>
                                <div class="text-danger invalid-feedback" id="parameters-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3 mx-2">
                            <div class="col-3">
                                <label for="id_fields" class="form-label">Fields</label>
                            </div>
                            <div class="col-9">
                                <div class="input-group mb-1">
                                    <input type="text" name="tmp-fields[]" class="form-control col-10">
                                    <button class="btn btn-outline-secondary col-2 fields-button-addon" type="button">+</button>
                                </div>
                                <div class="text-danger invalid-feedback" id="fields-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3 mx-2">
                            <div class="col-3">
                                <label for="id_output_type" class="form-label">Output Type</label>
                            </div>
                            <div class="col-9">
                                <select name="output_type" class="form-control" id="id_output_type">
                                    <option value="csv" selected>CSV</option>
                                    <option value="json">JSON</option>
                                    <option value="none">None</option>
                                </select>
                                <div class="text-danger invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3 mx-2">
                            <div class="col-3">
                                <label for="id_note" class="form-label">Note</label>
                            </div>
                            <div class="col-9">
                                <textarea name="note" cols="40" rows="2" class="form-control" id="id_note"></textarea>
                                <div class="text-danger invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" id="warningMessage"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-dark" id="createButton">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table border">
        <thead>
        <tr class="table-dark text-center">
            <th style="width: 5%">
                <input type="checkbox" id="check-all">
            </th>
            <th style="width: 7%">Author</th>
            <th>Name</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% if data.results %}
        {% for script in data.results %}
        <tr class="text-center">
            <td>
                {% if user.is_superuser or user.username == script.author_detail.username %}
                    <input type="checkbox" class="check-item" name="object-id" value="{{ script.id }}">
                {% endif %}
            </td>
            <td>{{ script.author_detail.username}}</td>
            {% if user.is_superuser or user.username == script.author_detail.username %}
                <td><a href="#" class="edit-script" data-script-id="{{script.id}}">{{ script.name }}</a></td>
            {% else %}
                <td>{{ script.name }}</td>
            {% endif %}
            <td>{{ script.note }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4" class="text-center">No Script</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if data.links.previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ current|add:-1 }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" ariadisabled="true" href="#">Previous</a>
        </li>
        {% endif %}
        {% for i in ""|rjust:data.total_pages %}
        {% if forloop.counter >= current|add:-5 and forloop.counter <= current|add:5 %}
        {% if forloop.counter == current %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if data.links.next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ current|add:1 }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}
